.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 100%;
  min-width: 850px;
  max-width: none;
  background: #1c1d1f;
  border-bottom: 0.1px solid #434343;
  padding: 20px 40px;
  margin: 30px 0 0 auto;
}
.brands h1 {
  color: white;
  font-size: 21px;
}
.brands h1 a {
  color: #cdbff2;
  text-decoration: none;
  font-size: 21px;
}
.brands h1 a:hover {
  text-decoration: underline;
}
.brands-image {
  display: flex;
  width: 530px;
}
.brands img {
  margin-left: 10px;
}
@media screen and (max-width: 1080px) {
  .brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .brands-image {
    margin-top: 10px;
  }
  .brands img {
    margin: 0 10px 0 0;
  }
}
