.course-preview-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 45px 0 0 50px;
}
.course-preview {
  display: flex;
  position: relative;
  width: 350px;
}
.course-image {
  border: 1px solid white;
  opacity: 0.6;
  width: 350px;
  height: 180px;
}
.course-preview:hover {
  cursor: pointer;
}
.play-course-image {
  position: absolute;
  left: 142px;
  top: 60px;
  width: 65px;
}
.course-preview span {
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 17px;
  left: 100px;
  top: 145px;
}
.side-bar-course {
  z-index: 11;
}
.side-bar-course-show {
  z-index: 11;
  transition: 0.8s;
  opacity: 1;
  position: fixed;
  top: 20px;
}
.side-bar-course-show-fixed {
  z-index: 1;
  position: absolute;
  top: 3100px;
  opacity: 1;
}
.side-bar-course-hide {
  opacity: 0;
}

@media screen and (max-width: 1080px) {
  .side-bar-course,
  .side-bar-course-show,
  .side-bar-course-hide {
    display: none;
  }
  .course-preview-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 70px 15px 0px;
  }
  .course-preview {
    border: none;
    display: flex;
    position: relative;
    width: 600px;
  }
  .course-image {
    border: none;
    opacity: 0.6;
    width: 600px;
    height: 300px;
  }
  .play-course-image {
    position: absolute;
    left: 270px;
    top: 120px;
    width: 65px;
  }
  .course-preview span {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 17px;
    left: 225px;
    top: 260px;
  }
}
