.content-container {
  display: flex;
  flex-direction: column;
  margin: 30px 400px 0 0;
  max-width: 700px;
}
.top-container-box {
}
.top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.top-container h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 20px 20px 0;
}
.course-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}
.details {
  display: flex;
  width: 500px;
  width: 68%;
}
.course-details span {
  display: flex;
  align-items: flex-end;
  height: 28px;
  justify-content: center;
  color: slategrey;
}
.expand-collapse-button-box {
  display: flex;
  justify-content: flex-end;
  width: 32%;
}
.expand-collapse-button {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border: none;
  color: #8628c9;
  font-weight: bold;
  width: 100%;
}
.expand-collapse-button:hover {
  color: #b15eed;
}

.sections {
  border: 1px solid rgb(220, 216, 216);
  border-top: none;
  width: 100%;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(220, 216, 216);
  background-color: rgb(247, 249, 250, 255);
  height: 55px;
  padding: 20px;
}
.show {
  margin: 26px 0;
  width: 100%;
}
.hide {
  display: none;
}
.image-box {
  width: 5%;
}
.image {
  width: 9px;
  height: 7px;
}
.image-collapse {
  width: 9px;
  height: 7px;
  transition: 0.3s;
  transform: rotate(-180deg);
}
.image-expand {
  width: 9px;
  height: 7px;
  transition: 0.3s;
  transform: rotate(0deg);
}
.lectures-title {
  display: flex;
  width: 80%;
}
.lectures-details {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}
.lectures-count,
.lectures-time {
  display: flex;
  color: rgb(106, 106, 106);
  font-size: 14px;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  height: 100%;
}
.sections-box {
  width: 100%;
  border-top: 1px solid rgb(220, 216, 216);
}
.lectures-lists {
  list-style: none;

  width: 100%;
  padding: 0;
}
.lectures-lists li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 0px 2.3em;
  font-size: 14px;
  width: 100%;
}
.lectures-lists li a {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #781bba;
  margin-right: 15px;
}
.lectures-lists li .not-link {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: auto;
  margin-right: 15px;
}
.lectures-lists i {
  margin-right: 15px;
  font-size: 17px;
  color: black;
}
.lectures-lists li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
.lecture-title {
  width: 90%;
}
.lecture-time {
  color: rgb(153, 153, 153);
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
}
.see-more-button {
  background-color: white;
  border: 0.5px solid black;
  margin-top: 15px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(37, 37, 37);
}
.see-more-button:hover {
  background-color: rgb(237, 236, 236);
}
.requirements {
  margin-top: 40px;
}
.requirements h1 {
  font-size: 25px;
  font-weight: bold;
}
.description {
  white-space: pre-line;
}
.description-box {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.description-box h1 {
  font-size: 25px;
  font-weight: bold;
}

.description-content {
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
.description-more {
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
.description-content::after {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.more-less-buttton {
  background-color: transparent;
  border: none;
  color: #5624d0;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
.image-collapse {
  margin: 0 10px 0 12px;
  width: 9px;
  height: 7px;
  transform: rotate(-180deg);
}
.image-expand {
  margin: 0 10px 0 12px;
  width: 9px;
  height: 7px;
  transform: rotate(0deg);
}

@media screen and (max-width: 1080px) {
  .content-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
  }
}
@media screen and (max-width: 650px) {
  .content-container {
    margin-left: 200px;
  }
}
