.fig-card figcaption {
  margin-top: 12px;
  font-weight: bold;
}
.fig-card img {
  display: flex;
  transition: transform 0.5s;
  width: 100%;
}
.fig-card img:hover {
  transform: scale(1.11);
}
.top-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin: 20px 0px;
}
.top-categories h3 {
  margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
  .top-categories h3 {
    position: relative;
    left: 140px;
  }
  .top-categories .container {
    position: relative;
    left: 8px;
  }
}

@media screen and (max-width: 671px) {
  .top-categories h3 {
    position: relative;
    left: 40px;
  }
  .top-categories .container {
    position: relative;
    left: 5px;
  }
}
