.course {
  display: flex;
  flex-direction: column;
}
.course-button {
  background-color: white;
  border: none;
}
.course-img {
  width: 100%;
}
.course-img-hide {
  width: 100%;
  background-color: rgb(61, 61, 61);
}
.course-img img {
  width: 100%;
}
.course-img-hide img {
  width: 100%;
  opacity: 0.5;
}
.course-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.course-title {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0 0 0;
  width: 100%;
  padding: 0;
}
.course-author {
  color: gray;
  font-size: small;
  margin: 7px 0;
  text-align: left;
  width: 100%;
}

.rating-box {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.course-rating {
  margin-right: 5px;
  font-weight: bold;
  color: #df941f;
  font-size: 15;
}
.course-stars {
  display: flex;
  color: orange;
  margin-right: 5px;
  box-sizing: border-box;
}
.course-students {
  color: gray;
  font-size: small;
}
i {
  padding: 1px;
  box-sizing: border-box;
}
.course-price {
  text-align: left;
  margin-top: 4px;
  font-size: 17px;
  width: 100%;
}
.pop-up-show {
  transition-duration: 0.8s;
  opacity: 1;
  z-index: 2;
  background-color: white;
}

.pop-up-hide {
  z-index: -1;
  opacity: 0;
}
