.course {
  display: flex;
  flex-direction: column;
}
.course_body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.course_title {
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0 0 0;
  text-overflow: ellipsis;
  width: 100%;
}
.course_author {
  color: gray;
  font-size: small;
  margin: 7px 0;
  text-align: left;
  width: 100%;
}

.rating_box {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.course_rating {
  margin-right: 5px;
  font-weight: bold;
  color: #df941f;
  font-size: 15;
}
.course_stars {
  display: flex;
  color: orange;
  margin-right: 5px;
  box-sizing: border-box;
}
.course_students {
  color: gray;
  font-size: small;
}
i {
  padding: 1px;
  box-sizing: border-box;
}
.course_price {
  text-align: left;
  margin-top: 4px;
  font-size: 17px;
  width: 100%;
}
