.courses-box {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  border: 1px solid rgb(220, 216, 216);
  width: 80%;
  margin-bottom: 50px;
}
.courses-title {
  display: flex;
  text-align: left;
  width: 85%;
  margin: 30px 0 0 30px;
}
.description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0 10px 30px;
  width: 96%;
}
.courses-description {
  display: flex;
  text-align: left;
  margin-bottom: 15px;
  width: 60%;
}
.explore-course {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 145px;
  height: 45px;
  font-weight: bold;
  border: 1px solid black;
  white-space: nowrap;
}
.explore-course:hover {
  background-color: rgb(247, 249, 250, 255);
  cursor: pointer;
}
.courses-list {
  display: flex;
  width: 100%;
}
.courses-container {
  display: flex;
  box-sizing: border-box;
  margin: 17px 0 20px 28px;
  width: 98%;
  padding: 0;
}
