.footer-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1d1f;
  min-width: 850px;
  margin-left: auto;
}
.links-and-language-selector {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 30px 0 0 10px;
}
.links ul {
  list-style-type: none;
}

.links ul li a {
  text-decoration: none;
  white-space: nowrap;
  color: white;
}
.links ul li a:hover {
  text-decoration: underline;
}
.link-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 40px;
  margin: 30px 60px 0 0;
  border: 1px solid white;
}
.link-language img {
  width: 30px;
  margin: 0 5px 0 15px;
}
.link-language span {
  color: white;
}
.logo-copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.logo img {
  width: 100px;
  margin: 20px 0 0 43px;
}
.copyright {
  color: white;
  font-size: 13px;
  margin: 32px 60px 0 0;
}

@media screen and (max-width: 700px) {
  .footer-box {
    margin-bottom: 70px;
  }
  .links {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  .links ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
  }
  .links ul li {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }
  .links-and-language-selector {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px;
  }
  .link-language {
    margin: 0;
  }
  .logo img {
    width: 100px;
    margin: 0;
  }
  .copyright {
    color: white;
    font-size: 13px;
    margin-top: 10px;
  }
  .logo-copyright {
    display: flex;
    flex-direction: column;
    margin: 0px 0 30px 30px;
  }
}
