#box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 210px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid #602f4f;
  border-bottom: 30px solid transparent;
}
#box {
  background-color: #602f4f;
  height: 50px;
  width: 200px;
  position: relative;
  float: left;
  text-align: right;
  padding: 5px;
  margin: 0 0 4px 30px;
  color: white;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
}
