.parent {
  width: 100px;
  height: 100px;
  background-color: rgb(189, 136, 238);
  margin: 100px;
}
.child1 {
  width: 100px;
  height: 100px;
  background-color: rgb(189, 136, 238);
  margin: 100px;
}
.child2 {
  width: 100px;
  height: 100px;
  background-color: rgb(56, 8, 100);
  margin: 100px;
}
